.modal-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-width: 600px;
  width: 100%;
  padding: 0 toRem(20);
}

.modal-overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9989;
}

.modal-content-inner {
  width: 100%;
  padding: toRem(20) toRem(15);
  background: #fff;
  border-radius: 10px;
  height: 500px;
  overflow-y: scroll;

  @include breakpoint($breakpoint--main + 0px) {
    padding: toRem(30);
    height: auto;
    overflow: unset;
  }
}

.modal-body {
  width: 100%;

  .modal--header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-bottom: 30px;

    &__title {
      margin-right: toRem(20);
      margin-bottom: 0;
    }

    .cross_sign {
      position: relative;
    }
  }
}

//Cross Sign
.cross_sign {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: rotate(90deg);
  }

  .bar {
    width: 1.5px;
    height: 20px;
    background: #000;
    display: inline-block;
    position: absolute;
  }

  .bar1 {
    transform: rotate(45deg);
  }

  .bar2 {
    transform: rotate(-45deg);
  }
}

.thank-you-message {
  text-align: center;

  h2 {
    font-size: toRem(18);
    color: green;
    margin-bottom: toRem(30);

    @include breakpoint($breakpoint--main + 0px) {
      font-size: toRem(22);
    }
  }

  .primaryBtn {
    &:hover {
      background-color: $color--white;
    }
  }
}
