.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  background-color: #333;
  overflow-x: hidden;
  transition: 0.3s;
  &.open {
    transform: translateX(0);
    z-index: 1001;
  }
}
.toggle-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}
.menu-items {
  list-style: none;
  padding: 0;
  li {
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid #555;
  }
}
