/* ------------------------------------------- */
/* -- Colours + Variables */
/* ------------------------------------------- */

$site-width: 1370;

// Defsult space
$space: 20px;

$font--main: 'Roboto', sans-serif;

// Body copy colour
$color--body-copy: rgb(77 84 90);

// Colours - eidt as needed
$color--body-bg: #f7f7f7;
$color--white: #ffffff;
$color--black: #000000;
$color--red: rgb(159 41 53);

$color--1: rgb(31 45 52);

$breakpoint--main: 768;
$breakpoint--992: 992;
